<html>
<head>
  <title>Free World</title>
  <link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.4/cerulean/bootstrap.min.css" rel="stylesheet">
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="/javascripts/angularApp.js"></script>
  <script src="/main.js"></script> 
  <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body ng-app="freeWorld">
  
  <nav class="nav-style navbar navbar-default navbar-static-top" role="navigation" ng-controller="NavCtrl">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Free World</a></a>
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav navbar-right">
          <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
          <li ng-show="isLoggedIn()"><a ng-click="logOut()">Log Out</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
          <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </div>
  </nav>
  
  <div class="row sides">
    <div class="col-md-6 col-md-offset-3">
      <ui-view></ui-view>
    </div>
  </div>

  <!-- /home -->
  <script type="text/ng-template" id="/home.html">
    <div class="page-header">
      <h1>Feed</h1>
    </div>

    <div class="panel-group" id="accordion">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
               <p style="font-size: 18px; margin-top: 10px;">Add a new post</p>
            </a>
          </h4>
        </div>
       
        <div id="accordionOne" class="panel-collapse collapse ">
          <div class="panel-body">
          
            <form ng-submit="addPost()"
            style="margin-top:30px;" ng-show="isLoggedIn()">
            
      
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Title"
                ng-model="title"></input>
              </div>
              <div class="form-group">
                <input type="text"
                class="form-control"
                placeholder="Link"
                ng-model="link"></input>
              </div>
              <div class="form-group">
                <textarea
                class="form-control"
                placeholder="Blog"
                ng-model="blog"></textarea>
              </div>
              <a data-toggle="collapse" data-parent="#accordion" href="#accordionOne">
                <button type="submit" class="btn btn-primary">Post</button>
              </a>
            </form>
          
          </div>
        </div>
      </div>
    </div>  

    <p>&nbsp;</p>

    <div ng-repeat="post in posts | orderBy:'-upvotes'">
    
      <span class="glyphicon glyphicon-plus-sign"
        ng-click="incrementUpvotes(post)"></span>
      {{post.upvotes}}
      <span class="glyphicon glyphicon-minus-sign"
        ng-click="decrementUpvotes(post)"></span>
      
      <span style="font-size:20px; margin-left:10px;">
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </span>
      <span ng-show="post.author">
        posted by {{post.author}}
      </span>
      
      <span> (
        <a href="#/posts/{{post._id}}">Edit</a>
      </span> | 
      <span ng-click="deletePost(post)">
				<a href="#"> Delete </a>
			</span> )
      
      <div class="comments">
        <span>
          <a href="#/posts/{{post._id}}">Comments</a>
        </span>
      </div>
      
    </div>

    

    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can add a post.</h3>
    </div>
  </script>

  <!-- /posts -->
  <script type="text/ng-template" id="/posts.html">
    <div class="page-header">
    
      <!-- should show the title of the psot as a href -->
      <h3>
        <a ng-show="post.link" href="{{post.link}}">
          {{post.title}}
        </a>
        <span ng-hide="post.link">
          {{post.title}}
        </span>
      </h3>
      
      <!-- should show the body of the post -->
      <p style="font-size:18px;">
        <!-- <a ng-show="post.blog"> -->
          {{post.blog}}
        <!-- </a> -->
       <span ng-hide="post.blog">
          {{post.blog}}
        </span>
      </p>
      
      <!-- add image sharing su pport here? -->
      
    </div>
    
    <div ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    
      <span class="glyphicon glyphicon-plus-sign"
        ng-click="incrementUpvotes(comment)"></span>
      {{comment.upvotes}}
      <span class="glyphicon glyphicon-minus-sign"
        ng-click="decrementUpvotes(comment)"></span>
        
      - by <a>{{comment.author}}</a>
      <span style="font-size:20px; margin-left:10px;">
        {{comment.body}}
      </span>
      
      <span> (
        <a href="#/posts/{{post._id}}">Edit</a>
      </span> | 
      <span ng-click="deleteComment(comment)">
				<a href="#/posts/{{post._id}}"> Delete </a>
			</span> )
      
    </div>
    <form ng-submit="addComment()"
      style="margin-top:30px;" ng-show="isLoggedIn()">
      <h3>Add a new comment</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Comment"
        ng-model="body"></input>
      </div>
      <button type="submit" class="btn btn-primary">Post</button>
    </form>

    <div ng-hide="isLoggedIn()">
      <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment.</h3>
    </div>
  </script>

  <!-- /login -->
  <script type="text/ng-template" id="/login.html">
    <div class="page-header">
      <h1>Login</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="logIn()"
      style="margin-top:30px;">
      <h3>Log In</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Log In</button>
    </form>
  </script>

  <!-- /register -->
  <script type="text/ng-template" id="/register.html">
    <div class="page-header">
      <h1>Register</h1>
    </div>

    <div ng-show="error" class="alert alert-danger row">
      <span>{{ error.message }}</span>
    </div>

    <form ng-submit="register()"
      style="margin-top:30px;">
      <h3>Register</h3>

      <div class="form-group">
        <input type="text"
        class="form-control"
        placeholder="Username"
        ng-model="user.username"></input>
      </div>
      <div class="form-group">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
    </form>
  </script>
  
</body>
</html>
